#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "../helpers/keypos_clog_v2.h"
#include "../helpers/keymap_helpers.h"

// SETTINGS 
#define TAPPING_TERM 300 
#define TAP_DANCE_FAST 200 
#define TAP_DANCE_SLOW 350 
#define QUICK_TAP_MS 500 
#define LAYTAP_SLOW_TERM 1000 
#define STICKY_TIME 1000 
#define COMBO_QUICK_MS 40  
#define COMBO_SLOW_MS  70 

// LAYERS
#define  BASE 0
#define  SYM  1
#define  _MAC 2
#define  _WIN 3 
#define  NAV  4 
#define  MAC  5 
#define  WIN  6 
#define  FN   7

&lt {
	flavor = "tap-preferred";
	quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
    behaviors {
        SHIFT_MORPH(bspc_del,   BSPC,               DEL);
        SHIFT_MORPH(rpar_lpar,  RIGHT_PARENTHESIS,  LEFT_PARENTHESIS);
        SHIFT_MORPH(rbrc_lbrc,  RIGHT_BRACE,        LEFT_BRACE);
        SHIFT_MORPH(dot_coln,   DOT,                COLON);
        SHIFT_MORPH(comm_scln,  COMMA,              SEMICOLON);

        STICKY(skp, &kp, STICKY_TIME);
        STICKY(smo, &mo, STICKY_TIME);

        MACRO(win_sleep,      &kp LG(X) &kp U &kp S);
        MACRO(less_eql,       &kp LESS_THAN    &kp EQUAL);
        MACRO(greater_eql,    &kp GREATER_THAN &kp EQUAL);
        MACRO(not_eql,        &kp EXCL         &kp EQUAL);

        DOUBLE_TAP(lt_lte,    TAP_DANCE_FAST,   &kp LT,       &less_eql);
        DOUBLE_TAP(gt_gte,    TAP_DANCE_FAST,   &kp GT,       &greater_eql);
        DOUBLE_TAP(eql_neql,  TAP_DANCE_FAST,   &kp EQUAL,    &not_eql);

        TRIPLE_TAP(sft_caps,  TAP_DANCE_SLOW,   &skp LSHFT,   &caps_word,   &kp K_CANCEL);  //thumbs are slow

        HOLDTAP_TAP_PREFFERED(hrm, &kp,     TAPPING_TERM,     QUICK_TAP_MS);
        MODTAP_TAP_BALANCED_POSITIONAL(lht, TAPPING_TERM,     QUICK_TAP_MS, KEYS_RH_THUMB);
        MODTAP_TAP_BALANCED_POSITIONAL(rht, TAPPING_TERM,     QUICK_TAP_MS, KEYS_LH_THUMB);
        HOLDTAP_TAP_PREFFERED(slt, &mo,     LAYTAP_SLOW_TERM, LAYTAP_SLOW_TERM);
    };


    /*  key pos 
    ---------------------------------------------------------
                    LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3        
            LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5
                LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4    
                            LH1 LH0 | RH0 RH1               
    --------------------------------------------------------- */

    combos {
        compatible = "zmk,combos";
        // horizontal combos
        COMBO(tab         ,&kp TAB          ,LT3 LT2,   COMBO_QUICK_MS,  COMBO_ALL);
        COMBO(esc0        ,&kp ESC          ,LM1 LM2,   COMBO_QUICK_MS,  COMBO_ALL);
        COMBO(win_copy    ,&lht LC(C) LC(V) ,LM2 LM3,   COMBO_QUICK_MS,  _WIN);
        COMBO(mac_copy    ,&lht LG(C) LG(V) ,LM2 LM3,   COMBO_QUICK_MS,  _MAC);
        COMBO(bspc        ,&bspc_del        ,RT2 RT3,   COMBO_QUICK_MS,  COMBO_ALL);
        COMBO(enter       ,&kp ENTER        ,RM1 RM2,   COMBO_QUICK_MS,  COMBO_ALL);
         
        // vertical combos
        COMBO(lbkt        ,&kp LBKT         ,LT3 LM3,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(lbrc        ,&kp LBRC         ,LT2 LM2,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(lpar        ,&kp LPAR         ,LT1 LM1,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(rpar        ,&rpar_lpar       ,RT1 RM1,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(rbrc        ,&rbrc_lbrc       ,RT2 RM2,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(rbkt        ,&kp RBKT         ,RT3 RM3,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(equal       ,&eql_neql        ,LT0 LM0,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(under       ,&kp UNDER        ,RT0 RM0,   COMBO_SLOW_MS,   COMBO_ALL);

        // thumb combos
        COMBO(esc         ,&kp ESC          ,LH0 LH1,   COMBO_SLOW_MS,   COMBO_ALL);
        COMBO(esc2        ,&kp ESC          ,RH0 RH1,   COMBO_SLOW_MS,   COMBO_ALL);
    };


    // -------- LAYERS ---------
    #define _____  &trans
    #define TRANS_LAYER(layer_name) \
        layer_name {\
            bindings = <\
                          _____  _____  _____  _____  _____  _____  _____\
            _____  _____  _____  _____  _____  _____  _____  _____  _____  _____  _____  _____\
                   _____  _____  _____  _____  _____  _____  _____  _____  _____  _____\
                                        _____  _____  _____  _____\
            >;\
        }

    #define HRML(k1,k2,k3,k4) &hrm LALT  k1   &hrm LGUI k2  &lht LSHFT k3  &hrm LCTRL k4
    #define HRMR(k1,k2,k3,k4) &hrm RCTRL k1  &rht RSHFT k2  &hrm RGUI k3   &hrm RALT k4

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                            &slt FN W      &kp E       &kp R      &kp T             &kp Y      &kp U     &kp I     &slt FN O
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
       &kp Q      HRML(A,        S,         D,         F)        &kp G             &kp H      HRMR(J,      K,          L,        SQT)         &kp P
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                 &kp Z         &kp X      &kp C       &kp V      &kp B           &kp N       &kp M     &comm_scln  &dot_coln    &kp SLASH
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                      &smo 1    &sft_caps      &lt 4 SPACE   &smo 1 

            >;
        };

        SYM {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                            &kp TILDE   &kp ASTRK   &kp AMPS    &eql_neql       &kp PLUS    &kp N7       &kp N8     &kp N9
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
     _____      &kp GRAVE   &kp CARET  &kp PERCENT  &kp DOLLAR  &kp UNDER       &kp MINUS    &kp N4       &kp N5     &kp N6      &kp SQT    &kp PIPE
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                   _____     &kp HASH    &kp AT      &kp EXCL    &lt_lte         &gt_gte     &kp N1       &kp N2     &kp N3     &kp BSLH
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                      _____        _____          _____       &kp N0
            >;
        };
        
        TRANS_LAYER(_MAC);
        TRANS_LAYER(_WIN);

        NAV {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                           &kp C_VOL_DN &kp C_VOL_UP    _____ &kp LG(GRAVE)       &kp F2    &kp PG_DN   &kp PG_UP    &none
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
      &none    &kp LSHIFT  &kp LGUI     &kp LCTRL  &kp LALT    &kp LG(TAB)       &kp LEFT   &kp DOWN     &kp UP     &kp RIGHT     _____      _____
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                   &none       &none       &none      &none    &kp LA(TAB)       &kp F12      _____       _____       _____       _____
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                       _____      _____           &tog 4     &to 4
            >;
        };

        MAC {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                               _____     _____        _____       _____            _____       _____      _____  &kp LA(LG(ESC))
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
     &kp LG(Q)     _____      _____      _____        _____       _____            _____       _____      _____       _____       _____      _____
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                &kp LG(Z)   &kp LG(X)   &kp LG(C)   &kp LG(V)     _____            _____       _____      _____       _____       _____
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                       _____   &kp LG(SPACE)       _____       _____
            >;
        };
                
        WIN {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                               _____     _____        _____       _____         &win_sleep      _____      _____    &kp LC(LA(DEL))
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp LA(F4)     _____      _____       _____       _____       _____            _____       _____      _____       _____       _____      _____
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp LC(V)     _____            _____       _____      _____       _____       _____
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                       _____    &kp LGUI           _____       _____
            >;
        };

#define BT(num) &bt BT_SEL num
        FN {
            bindings = <
//                        ╭───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────╮
                            &to  _MAC   &to _WIN     &reset    &bootloader     &bootloader    &reset      &none       &none
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
   &bt BT_CLR     BT(4)       BT(3)       BT(2)       BT(1)        BT(0)         &none      &bt BT_NXT   &bt BT_PRV  &none        &none       &none     
//            ╭───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────╮
                  &none       &none       &none       &none        &none         &none        &none       &none       &none       &none     
//                                                ╭───────────┬───────────╮   ╭───────────┬───────────╮
                                                      &none        &none         &none        &none
            >;
        };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        TRI_LAYER(mac_shortcuts, NAV _MAC, MAC);
        TRI_LAYER(win_shortcuts, NAV _WIN, WIN);
    };


};
