/*
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = " Base";
            bindings = <
            &kp N1 &none &none &none &none
            &none &kp N2 &none &none &none
            &none &none &kp N3 &none &none
                          &none &none &none
            >;
        };
    };
};


