/*
 * Copyright (c) 2023 sporkus
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            label = " Base";
            bindings = <
&bootloader  
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
&kp A 
            >;
        };
    };
};
