/*
 * Copyright (c) 2023 sporkus
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define COMBO_FAST 25
#define COMBO_SLOW 75

&lt {
    global-quick-tap-ms = <120>;
    quick_tap_ms = <200>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <15 14>;
        };

        enter_combo {
            bindings = <&kp ENTER>;
            key-positions = <19 20>;
        };

        bootloader_combo {
            bindings = <&bootloader>;
            key-positions = <0 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            label = " Base";
            bindings = <
  &kp TAB     &kp Q     &kp W  &kp E        &kp R  &kp T  &kp Y        &kp U      &kp I          &kp O         &kp P   &kp BSPC
  &kp ESC     &kp A     &kp S  &kp D        &kp F  &kp G  &kp H        &kp J      &kp K          &kp L                  &kp SQT
&kp LSHFT     &kp Z     &kp X  &kp C        &kp V  &kp B  &kp N        &kp M  &kp COMMA                      &kp DOT   &kp FSLH
&kp LCTRL  &kp LALT  &kp LGUI         &lt 1 SPACE                &lt 2 SPACE             &kp RIGHT_GUI  &kp LEFT_ALT  &kp LCTRL
            >;
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans       &kp SEMI   &kp LS(PLUS)  &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans  &trans  &trans  &kp LS(COLON)  &kp LS(UNDER)  &kp MINUS  &kp N4  &kp N5  &kp N6          &trans
&trans  &trans  &trans  &trans         &trans         &trans     &trans  &kp N1  &kp N2          &kp N3  &trans
&trans  &trans  &trans                 &trans                            &trans          &trans  &trans  &trans
            >;
        };

        nav {
            bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans   &kp TAB  &kp BSPC  &kp DEL     &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP  &kp RIGHT          &trans
&caps_word  &trans  &trans  &trans  &trans  &trans    &trans    &trans   &trans             &trans  &trans
    &trans  &trans  &trans          &trans                      &trans              &trans  &trans  &trans
            >;
        };
    };
};
