//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_bspc {
            bindings = <&bspc_morph>;
            key-positions = <8 7>;
            timeout-ms = <35>;
            global-quick-tap-ms = <80>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17>;
            global-quick-tap-ms = <80>;
        };

        combo_lpar {
            bindings = <&kp LPAR>;
            key-positions = <3 13>;
            global-quick-tap-ms = <80>;
        };

        combo_rpar {
            bindings = <&kp RPAR>;
            key-positions = <6 16>;
            global-quick-tap-ms = <80>;
        };

        combo_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <2 12>;
            global-quick-tap-ms = <80>;
        };

        combo_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <7 17>;
            global-quick-tap-ms = <80>;
        };

        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <1 11>;
            global-quick-tap-ms = <80>;
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <8 18>;
            global-quick-tap-ms = <80>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
            global-quick-tap-ms = <80>;
        };

        combo_esc0 {
            bindings = <&kp ESC>;
            key-positions = <11 12>;
            global-quick-tap-ms = <80>;
        };

        combo_esc1 {
            bindings = <&kp ESC>;
            key-positions = <18 17>;
            global-quick-tap-ms = <80>;
        };
    };

    macros {
        win_sleep: win_sleep {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp X &kp U &kp S>;
        };
        mac_finder: mac_finder {
            compatible = "zmk,behavior-macro";
            label = "mac_finder";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &kp F &kp I &kp N &kp D &kp E &kp R &kp DOT &kp A &kp P &kp P &kp RET>;
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "(hold, tap)";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <50>;
            global-quick-tap;
            flavor = "tap-preferred";
        };

        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "quick release";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <500>;
            quick-release;
        };

        bspc_morph: bspc_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_MORPH";
            bindings = <&kp BSPC>, <&kp DEL>;
            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label = "BASE";
            bindings = <
        &ht LS(Q) Q     &ht LS(W) W     &ht LS(E) E     &ht LS(R) R     &ht LS(T) T       &ht LS(Y) Y     &ht LS(U) U     &ht LS(I) I     &ht LS(O) O     &ht LS(P) P
        &ht LS(A) A     &ht LS(S) S     &ht LS(D) D     &ht LS(F) F     &ht LS(G) G       &ht LS(H) H     &ht LS(J) J     &ht LS(K) K     &ht LS(L) L     &ht DQT SQT
&mo 2   &ht LS(Z) Z     &ht LS(X) X     &ht LS(C) C     &ht LS(V) V     &ht LS(B) B       &ht LS(N) N     &ht LS(M) M     &ht SEMI COMMA  &ht COLON DOT   &ht QUESTION SLASH  &kp LCTRL
                                              &skq LEFT_GUI  &sl 1  &skq LEFT_SHIFT       &kp SPACE  &sl 1           &mo 2
            >;
        };


        num {
            label = "NAVI";
            bindings = <
          &kp ESC      &none      &kp UP  &kp EQUAL  &kp EQUAL   &kp PLUS  &ht AMPS NUMBER_7    &ht ASTRK NUMBER_8   &ht LPAR NUMBER_9  &kp BACKSLASH
        &kp LSHFT   &kp LEFT    &kp DOWN  &kp RIGHT  &kp UNDER  &kp MINUS      &ht DOLLAR N4  &ht PERCENT NUMBER_5  &ht CARET NUMBER_6   &kp KP_MINUS
&trans    &kp DEL  &kp PG_UP  &caps_word  &kp PG_DN     &kp LT     &kp GT  &ht EXCL NUMBER_1       &ht AT NUMBER_2   &ht HASH NUMBER_3      &kp SLASH  &trans
                                  &trans     &trans     &trans  &kp SPACE       &kp NUMBER_0         &ht COMMA DOT
            >;
        };

        nav {
            label = "SYM";
            bindings = <
           &kp EXCL       &kp AT   &kp HASH  &kp DLLR  &kp PRCNT    &kp HOME     &kp PG_UP        &kp PG_DN     &kp END  &none
          &kp RA(A)       &trans  &kp RA(S)    &trans     &trans    &kp LEFT      &kp DOWN           &kp UP   &kp RIGHT  &none
&trans  &kp RA(F18)  &kp RA(F19)     &trans    &trans     &trans  &kp C_PREV  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_NEXT  &none  &trans
                                     &trans     &none      &mo 3      &trans      &kp C_PP           &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
             &reset  &bt BT_CLR  &out OUT_TOG  &trans  &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12
        &bootloader  &bt BT_NXT        &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans       &trans  &bt BT_PRV        &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                       &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
